# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Debugging
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
build/
dist/

# Vite
dist/
.vite/
.cache/
*.local

# React
/build
/node_modules
/public
/src/*.js.map
/src/*.css.map

# Serverless directories
.serverless/

# Webpack Cache
/.cache/

# TypeScript
*.tsbuildinfo
